.header {
    max-width: 1366px;
    height: 150px;
    color: #D20A11;
    background-color: #163E6C;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.h-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.with-margin {
    margin-left: 200px;
  }

.title {
    display: flex;
    margin-right: 33%;
    justify-content: right;
}

.logo {
    height: 100%;
    width: auto;
}

.logo img {
    height: 100%;
    border-radius: 7px;
    object-fit: contain;
}

.h-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

@media screen and (max-width: 1200px) {
    .header {
        height: 180px;
    }

    .h-wrapper {
        flex-direction: column;
    }

    .with-margin {
        margin-left: 0px;
      }

    .title {
        margin-right: auto;
        text-align: center;
    }
}

@media screen and (max-width: 1000px) {
    .header {
        height: auto;
    }

    .logo {
        height: 200px;
        width: auto;
    }
}

@media screen and (max-width: 810px) {
    .header {
        flex-direction: column;
    }
}